.slider-container {
  height: 100vh;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  overflow: hidden;
  -webkit-transform: translateX(0);
  transform: translateX(0);
  -webkit-transition: -webkit-transform 0.3s ease-out;
  transition: -webkit-transform 0.3s ease-out;
  transition: transform 0.3s ease-out;
  transition: transform 0.3s ease-out, -webkit-transform 0.3s ease-out;
  cursor: -webkit-grab;
  cursor: grab;
}

.slider-container .grabbing {
  cursor: -webkit-grabbing;
  cursor: grabbing;
}

.slider-container .grabbing .slide img {
  -webkit-transform: scale(0.9);
  transform: scale(0.9);
}

.slider-container .slide {
  max-height: 100vh;
  width: 100vw;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
